<%= javascript_include_tag 'mktree.js' %>
<%= stylesheet_link_tag 'mktree', 'doctree' %>

<% # container for all documents in index view -%>
<a href="#" onclick="expandTree('documents'); return false;">Expand All</a>&nbsp;&nbsp;&nbsp;
<a href="#" onClick="collapseTree('documents'); return false;">Collapse All</a>&nbsp;&nbsp;&nbsp;
<ul id="documents" class="mktree">
  
  <% # loop thru each doc -%>
  <% @response.docs.each_with_index do |document,counter| %>

    <% # container for a single doc -%>
    <li><%= counter + 1 + @response.params[:start].to_i %>. <%= h document["session_id"] %>
      <ul class="document">
        <% if document.get "title" %>
        <li><%= h document.get("title") %></li>
        <% end -%>
        <% if document.get "investigator_concise" %>
        <li><%= h document.get("investigator_concise") %></li>
        <% end -%>
        <table class="scanlist">
          <tr><th>#</th><th>Object</th><th>Band</th><th>Receiver</th><th>Backend</th><th>Obstype</th><th>RA (2000)</th><th>Dec (2000)</th><th>Skyfreq (GHz)</th><th></th></tr>
          <% @collapsed.default = [] %>
          <% @collapsed[document["id"]].each do |scan| %>
          <tr><td><%= h scan["scan"] %></td><td><%= h scan["object"] %></td><td><%= h scan["band"] %></td><td><%= h scan["receiver"] %></td><td><%= h scan["backend"] %></td><td><%= h scan["obstype"] %></td><td><%= h scan["ra"] %></td><td><%= h scan["dec"] %></td><td><%= h scan["skyfreq_concise"] %></td><td><a href="about:blank">more</a></td></tr>
          <% end %>
        </table>
      </ul>
    </li>
    
  <% end %>
</ul>
