<%= javascript_include_tag 'mktree.js' %>
<%= stylesheet_link_tag 'mktree', 'doctree' %>

<% # container for all documents in index view -%>
<% if @response.total > 0 %>
<a href="#" onclick="expandTree('documents'); return false;">Expand All</a>&nbsp;&nbsp;&nbsp;
<a href="#" onClick="collapseTree('documents'); return false;">Collapse All</a>&nbsp;&nbsp;&nbsp;
<% end %>
<ul id="documents" class="mktree">

  <% # loop thru each doc -%>
  <% @response.docs.each_with_index do |document,counter| %>

    <% # container for a single doc -%>
    <li><%= counter + 1 + @response.params[:start].to_i %>. <%= h document.get("project") %> <%= h document.get("telescope_display") %> <span class="<%= h document.get("proprietary") %>"><%= h document.get("proprietary") %></span> (File ID: <%= h document["id"] %>) <a href="#">Download</a> <a href="#">Proposal</a>
      <ul class="document">
        <% if document.get "title" %>
        <li><%= h document.get("title") %></li>
        <% end -%>
        <li>Title</li>
        <% if document.get "investigator_concise" %>
        <li><%= h document.get("investigator_concise") %></li>
        <% end -%>
        <li>Investigators</li>
        <li>Band: <%= h document.get("obs_bands") %></li>
        <li>Array Config.: <%= h document.get("conf_display") %></li>
        <li>From <%= h document.get("starttime") %> to <%= h document.get("stoptime") %></li>
        <table class="obslist">
          <tr><th>Source</th><th>RA(J2000)</th><th>DEC(J2000)</th><th>Freq (MHz)</th><th>BW (MHz)</th></tr>
          <% document["source"].each_index do |x| %>
          <tr>
            <td><%= h document["source"][x] %></td>
            <td><%= h document["ra"][x] %></td>
            <td><%= h document["dec"][x] %></td>
            <td><%= h document["frequency"][x] %></td>
            <td><%= h document["bw"][x] %></td>
          </tr>
          <% end %>
        </table>
      </ul>
    </li>
  <% end %>
</ul>
<% if @response.total > 0 %>
<a href="#" onclick="expandTree('documents'); return false;">Expand All</a>&nbsp;&nbsp;&nbsp;
<a href="#" onClick="collapseTree('documents'); return false;">Collapse All</a>&nbsp;&nbsp;&nbsp;
<% end %>

<script type="text/javascript">
  function expandTreeOnLoad() {
    expandTree("documents"); return false;
  }
  addEvent(window,"load",expandTreeOnLoad);
</script>
